#chord-snipets {
  position: fixed;
  box-shadow: 0 0 5px #aaa;
  background-color: #fff;
  max-width: 700px;
}

#chord-snipets-header {
  background-color: #eee;
  height: 50px;
  display: flex;
  line-height: 50px;
}
#header-content {
  flex: 1;
  padding-left: 20px;
  touch-action: none;
}

#dismiss {
  flex: 0 50px;
  height: 50px;
  background-color: #ddd;
  color: #fff;
  font-size: 45px;
  text-align: center;
}

#dismiss:hover {
  background-color: #faa;
  cursor: pointer;
}

#chord-snipets-body {
  padding: 10px 20px;
  max-height: 80vh;
  overflow-y: scroll;
}

#chord-snipets-footer {
  text-align: center;
}

#chord-snipets-body button {
  background-color: #ccc;
}

#chord-snipets-body button.selected {
  background-color: #afa;
}

button:disabled {
  background-color: #ddd;
  color: #fff;
}
