.line {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.separator {
  width: 1px;
  background-color: #ccc;
}

.block {
  padding: 5px;
}

.chord {
  color: #b00;
}

.root, .base-root {
  font-size: 25px;
}

.accidental, .base-accidental {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.slash {
  font-size: 25px;
  display: inline-block;
  padding: 0 3px;
}