header {
  background-color: #eee;
  box-shadow: 0 1px 10px #aaa;
}

header h1 {
  margin: 0;
  padding: 10px 10px;
}

header a {
  color: inherit;
  text-decoration: none;
}

header a:hover {
  color: #999;
}

main {
  padding: 10px 10px;
}

footer {
  background-color: #aaa;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
}