* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: 20px;
  word-break: break-all;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #038;
}

a:hover {
  color: #07c;
}

button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #aee;
  border-radius: 5px;
  border: none;
  color: #555;
  font-size: 20px;
}

button.danger {
  background-color: #eaa;
}

button:hover {
  background-color: #9dd;
}

button.danger:hover {
  background-color: #d99;
}

#description {
  font-size: 25px;
}

#description th {
  text-align: end;
  min-width: 130px;
}

input[type="text"] {
  padding: 7px 10px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 20px;
}

select {
  padding: 5px 10px;
  height: 44px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 20px;
}

textarea {
  padding: 7px 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 20px;
}

input[type="text"]:focus, select:focus, textarea:focus {
  outline: 2px solid #aaf;
}
